{% load static %}
<!-- Our Company Section -->
<section class="clients-section style-two">
    <div class="auto-container">
        <div class="sec-companies text-center mt-5 mb-5">
            <span class="About-text">Our Companies</span>
        </div>
        <hr>
        <div class="sponsors-outer">
            <ul class="sponsors-carousel owl-carousel owl-theme">
                <li class="slide-item">
                    <figure class="image-box">
                        <a href="#">
                            <img src="{% static 'images/ourcompanies/01.png'%}"alt="">
                        </a>
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box">
                        <a href="#">
                            <img src="{% static 'images/ourcompanies/02.png'%}"alt="">
                        </a>
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box">
                        <a href="#">
                            <img src="{% static 'images/ourcompanies/03.png'%}"alt="">
                        </a>
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box">
                        <a href="#">
                            <img src="{% static 'images/ourcompanies/04.png'%}"alt="">
                        </a>
                    </figure>
                </li>
                
            </ul>
        </div>
    </div>
</section>


<!-- <footer> 
    <div class="container">
        <div class="footer-top">
            <div class="row">
                <div class=" col-lg-4 about-footer">
                    <h3>Contact Us</h3>
                    <ul>
                        <li><a href="tel:(+91) 12345 54321"><i class="icons fa
                                    fa-phone"></i>(+91) 12345 54321</a></li>
                        <li><i class="icons fa fa-map-marker"></i> Bharathi Park
                            Road Cross III,
                            <br>Saibaba Colony,
                            <br>Coimbatore - 641 011.
                        </li>
                    </ul>
                </div>
                <div class=" col-lg-4 page-more-info">
                    <div class="footer-title">
                        <h4>Quick links</h4>
                    </div>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Service</a></li>
                        <li><a href="#">Projects</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>

         <div class="col-lg-4 page-more-info">
                    <div class="footer-title">
                        <h4>Amenities</h4>
                    </div>
                    <div class="row">
                        <ul class="col-6">
                            <li><a href="#">Metered RO Water Connection</a></li>
                            <li><a href="#">Underground Cable</a></li>
                            <li><a href="#">Common Sump and Tower Tank</a></li>
                            <li><a href="#">Underground Cable EB Provision</a></li>
                            <li><a href="#">Solor Power</a></li>
                        </ul>
                        <ul class="col-6">
                            <li><a href="#">Covered Rain Water</a></li>
                            <li><a href="#">GYM</a></li>
                            <li><a href="#">CCTV</a></li>
                            <li><a href="#">TURF Court</a></li>
                            <li><a href="#">Kids Play Area</a></li>
                            <li><a href="#">Walking Track</a></li>
                            <li><a href="#">Net Cricket</a></li>
                        </ul>
                    </div>
                </div> 
                <div class="col-lg-4 open-hours">
                    <div class="col-12 mb-3">
                        <div class="footer-title">
                            <h4>Recent Work</h4>
                        </div>
                            <div class="row col-12">
                                <div class="col-4 p-1">
                                    <img
                                        src="{% static 'images/ourcompanies/04.png'%}">
                                </div>
                                <div class="col-4 p-1">
                                    <img
                                        src="{% static 'images/ourcompanies/04.png'%}">
                                </div>
                                <div class="col-4 p-1">
                                    <img
                                        src="{% static 'images/ourcompanies/04.png'%}">
                                </div>
                                <div class="col-4 p-1">
                                    <img
                                        src="{% static 'images/ourcompanies/04.png'%}">
                                </div>
                                <div class="col-4 p-1">
                                    <img
                                        src="{% static 'images/ourcompanies/04.png'%}">
                                </div>
                                <div class="col-4 p-1">
                                    <img
                                        src="{% static 'images/ourcompanies/04.png'%}">
                                </div>
                            </div>
                    </div>
                    <div class="col-12">
                        <div class="footer-title">
                            <h4>Social Media</h4>
                        </div>
                            <div class="row col-12">
                                <div class="social-menu col-12 d-flex justify-content-around">
                                    <a  href="#" target="blank"><i class="fab fa-youtube"></i></i></a>
                                    <a href="#" target="blank"><i class="fab fa-instagram"></i></a>
                                    <a href="#" target="blank"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-facebook"></i></a>                                    
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="footer-bottom">
            <div class="row">
                <div class="col-xl-12 col-sm-12 d-flex justify-content-center">
                    <p> @ 2022 Ananya's AA Gardens. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer> -->



<footer class="footer-section">
    <div class="container">
        <div class="footer-cta">
            <div class="row">
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <a href="https://maps.app.goo.gl/2uU16Rvo1o6iTjoTA"><i class="fas fa-map-marker-alt"></i></a>
                        <div class="cta-text">
                            <h4>Find us</h4>
                            <span>Kasthurinaickenpalayam,<br>Near K.S Garden,Vadavalli post,<br>Coimbatore - 641 041</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <a href="tel:(+91) 12345 54321"><i class="fas fa-phone"></i></a>
                        <div class="cta-text">
                            <h4>Call us</h4>
                            <a href="tel:(+91) 12345 54321"><span>+91 95857 40000</span></a>
                           
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <a href="enquiry@ananyasgarden.com"><i class="far fa-envelope-open"></i></a>
                        <div class="cta-text">
                            <h4>Mail us</h4>
                            <a href="mailto:enquiry@ananyasgarden.com"><span>enquiry@ananyasgarden.com</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-content pb-2">
            <div class="row">
                <div class="col-xl-4 col-lg-4 mb-50">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Ananya Garden</h3>
                        </div>
                        <div class="footer-text">
                            <p>Welcome to Ananya Garden! Your Trust is our priority.
                             Be it for work or leisure, We provide everything you need for a comfortable.</p>
                        </div>
                        <div class="footer-social-icon mb-3">
                            <span>You can find us it</span>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Useful Links</h3>
                        </div>
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Projects</a></li>
                            <li><a href="#">Contact us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Subscribe</h3>
                        </div>
                        <div class="footer-text mb-25">
                            <p>Don’t miss to subscribe to our new feeds, kindly fill the form below.</p>
                        </div>
                        <div class="subscribe-form">
                            <form action="#">
                                <input type="text" placeholder="Email Address">
                                <button><i class="fab fa-telegram-plane"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12  text-lg-left">
                    <div class="copyright-text text-center">
                        <p>Copyright &copy; 2022, All Right Reserved <a href="#">Ananya Gardens</a></p>
                    </div>
                </div>               
            </div>
        </div>
    </div>
</footer>


