{% extends 'main.html' %}
{% load static %}
{% block content %}
<!-- Bnner Section -->
<section class="banner-section-six">
    <div class="banner-carousel-two owl-carousel owl-theme">
        <!-- Slide Item -->
        <div class="slide-item" style="background-image: url('{%static 'images/main-slider/image-1.jpg'%}');">
            <div class="auto-container">
                <div class="content-box">
                    <div class="inner-box">
                        <!-- <span class="count">01</span> -->  
                        <h4 class="title">Lorem Ipsum</h4>
                        <h2>Lorem Ipsum</h2>
                        <div class="text">Lorem Ipsum is simply dummy text of
                            the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy
                            text ever since the 1500s, when an
                            unknown printer took a galley of type and scrambled
                            it to make a type specimen book.
                        </div>
                        <div class="link-box"><a href="#">View
                                Details</a></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Slide Item -->
        <div class="slide-item" style="background-image: url('{%static 'images/main-slider/image-2.jpg'%}');">
            <div class="auto-container">
                <div class="content-box">
                    <div class="inner-box">
                        <!-- <span class="count">02</span> -->
                        <h4 class="title">Lorem Ipsum</h4>
                        <h2>Lorem Ipsum</h2>
                        <div class="text">Lorem Ipsum is simply dummy text of
                            the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy
                            text ever since the 1500s, when an
                            unknown printer took a galley of type and scrambled
                            it to make a type specimen book.
                        </div>
                        <div class="link-box"><a href="#">View
                                Details</a></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Slide Item -->
        <div class="slide-item" style="background-image: url('{%static 'images/main-slider/image-3.jpg'%}');">
            <div class="auto-container">
                <div class="content-box">
                    <div class="inner-box">
                        <!-- <span class="count">03</span> -->
                        <h4 class="title">Lorem Ipsum</h4>
                        <h2>Lorem Ipsum</h2>
                        <div class="text">Lorem Ipsum is simply dummy text of
                            the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy
                            text ever since the 1500s, when an
                            unknown printer took a galley of type and scrambled
                            it to make a type specimen book.
                        </div>
                        <div class="link-box"><a href="#">View
                                Details</a></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Slide Item -->
        <div class="slide-item" style="background-image: url('{%static 'images/main-slider/image-4.jpg'%}');">
            <div class="auto-container">
                <div class="content-box">
                    <div class="inner-box">
                        <!-- <span class="count">03</span> -->
                        <h4 class="title">Lorem Ipsum</h4>
                        <h2>Lorem Ipsum</h2>
                        <div class="text">Lorem Ipsum is simply dummy text of
                            the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy
                            text ever since the 1500s, when an
                            unknown printer took a galley of type and scrambled
                            it to make a type specimen book.
                        </div>
                        <div class="link-box"><a href="#">View
                                Details</a></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- End Bnner Section -->

<!-- Specialize Section -->
<section class="specialize-section-two">
    <div class="auto-container">
        <div class="row">
            <!-- Title Column -->
            <div class="title-column col-xl-5 col-lg-12 col-md-12
                col-sm-12">
                <div class="inner-column">
                    <div class="sec-title">
                        <span class="float-text">You Should </span>
                        <h2>Learn More About Us!</h2>
                    </div>

                    <div class="text-box">
                        <h4>Ananya AA Gardens</h4>
                        <p>You have reached that point in life when all that 
                            matters is the happiness of your loved ones.
                            That's why you will go to any length to ensure that.
                            and first on yourpriority list is to build a home that 
                            would have everything you could possibly think of to keep your family happy.</p>
                        <p>But for a home  that reflect your station in life and aspritions just about any place won't
                            do. you need the finest residiential address in town.the very best.That's where we come in </s> </p>
                    </div>
                    <div class="link-box">
                        <a href="#">Read More <i class="fa
                                fa-angle-double-right"></i></a>
                    </div>
                </div>
            </div>

            <!-- Carousel Column -->
            <div class="carousel-column col-xl-7 col-lg-12 col-md-12 col-sm-12">
                <div class="inner-column">
                    <div class="carousel-outer">
                        <ul class="image-carousel owl-carousel owl-theme">
                            <li>
                                <a href="{% static 'images/gallery/whous.jpg'%}" class="lightbox-image" title="Image Caption Here">
                                <img src="{% static 'images/gallery/whous.jpg'%}" height="590px" width="470px" alt="">
                                </a>
                            </li>
                        </ul>
                        <ul class="thumbs-carousel owl-carousel owl-theme"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Specialize Section -->

<!-- Process Section -->
<section class="process-section" style="background-image: url('{%static 'images/background/8.jpg'%}');">
    <div class="auto-container">
        <div class="sec-title light">
            <span class="About-text"></span>
            <h1>Amenities</h1>
        </div>
        <div class="row">
            <!-- Process Block -->
            <div class="process-block col-lg-3 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="count"><img src="{% static 'images/icons/police.png'%}" alt="security"></div>
                    <h4><a href="#">24/7 Security</a></h4>
                    <div class="text">If a threat is detected, the MSSP will activate an incident response plan. 
                            the MSSP will take full responsibility ,responding.</div>                         
                </div>
            </div>

            <!-- Process Block -->
            <div class="process-block col-lg-3 col-md-6 col-sm-12">
                <div class="inner-box">
                    <span class="count"><img src="{% static 'images/icons/underwater.png'%}" alt="security"></span>
                    <h4><a href="#">Metered RO water connection</a></h4>
                    <div class="text">Uninterrupted supply of safe drinking water 
                        is extremely crucial for ever household.</div>
                </div>
            </div>

            <!-- Process Block -->
            <div class="process-block col-lg-3 col-md-6 col-sm-12">
                <div class="inner-box">
                    <span class="count"><img src="{% static 'images/icons/cctv.png'%}" alt="security"></span>
                    <h4><a href="#">CCTV with live view</a></h4>
                    <div class="text">Security beeing a very vital aspect for a property 
                        we have installed CCTV cameras in strategic points</div>
                </div>
            </div>

            <!-- Process Block -->
            <div class="process-block col-lg-3 col-md-6 col-sm-12">
                <div class="inner-box">
                    <span class="count"><img src="{% static 'images/icons/walkingarea.png'%}" alt="security"></span>
                    <h4><a href="#">Walking Area</a></h4>
                    <div class="text">Keeping in mind the requirements physical activity among residents 
                        a good walking track is built in our property.</div>
                </div>
            </div>
                <!-- Process Block -->
                <div class="process-block col-lg-3 col-md-6 col-sm-12">
                <div class="inner-box">
                    <span class="count"><img src="{% static 'images/icons/Gym.png'%}" alt="security"></span>
                    <h4><a href="#">GYM</a></h4>
                    <div class="text">A GYM is must in any residential area Considering the morden life style asequate emphasis is given for the residents conveniences.</div>
                </div>
            </div>

            <!-- Process Block -->
            <div class="process-block col-lg-3 col-md-6 col-sm-12">
            <div class="inner-box">
                <span class="count"><img src="{% static 'images/icons/Water tower.png'%}" alt="security"></span>
                <h4><a href="#">Water Tank</a></h4>
                <div class="text">Common sump and over head water tank with direct supply lines to
                    every plot and charge accourding consumption.</div>
            </div>
        </div>

        </div>
    </div>
</section>
<!--End Process Section -->

<!-- Gallery -->
<section class="products-section">
<div class="auto-container">
<div class="sec-title">
    <span class="About-text">Gallary</span>
    <!-- <h2>Builday Products</h2> -->
</div>
<div class="row">
    <div class="title-column col-lg-3 col-md-12 col-sm-12">
        <div class="inner-column">
            <h4>Content About Gallary</h4>
            <div class="text">Lorem Ipsum is simply dummy text 
                of the printing and typesetting industry. 
                Lorem Ipsum has been the industry's standard 
                dummy text ever since the 1500s,..</div>
        </div>
    </div>

    <div class="products-column col-lg-9 col-md-12
        col-sm-12">
        <div class="products-carousel owl-carousel
            owl-theme">
            <!-- Product Block -->
            <div class="product-block">
                <div class="image-box">
                    <a href="{% static 'images/gallery/whous.jpg'%}"class="lightbox-images gallary" data-fancybox="gallery">
                        <figure class="image">
                            <img src="{% static 'images/gallery/whous.jpg'%}"  alt="">
                        </figure>
                </a>                                       
                </div>
            </div>
                <!-- Product Block -->
                <div class="product-block">
                <div class="image-box">
                    <a href="{% static 'images/gallery/whous.jpg'%}"class="lightbox-images gallary" data-fancybox="gallery">
                        <figure class="image">
                            <img src="{% static 'images/gallery/whous.jpg'%}"  alt="">
                        </figure>
                </a>                                       
                </div>
            </div>
                <!-- Product Block -->
                <div class="product-block">
                <div class="image-box">
                    <a href="{% static 'images/gallery/whous.jpg'%}"class="lightbox-images gallary" data-fancybox="gallery">
                        <figure class="image">
                            <img src="{% static 'images/gallery/whous.jpg'%}"  alt="">
                        </figure>
                </a>                                       
                </div>
            </div>  
        </div>
    </div>
</div>
</div>
</section>
<!-- Gallery -->

<!-- Video Section -->
<section class="video-section">
    <div class="outer-box" style="background-image: url('{%static 'images/gallery/whous.jpg'%}');">      
        <div class="auto-container">
            <div class="row">
                <div class="content-column col-lg-6 col-md-12
                    col-sm-12">
                    <div class="inner-column">
                        <div class="sec-title light">
                            <span class="About-text"></span>
                            <h1>GO EXPLORE</h1>
                        </div>
                        <!-- <span class="title">We Give You The Best</span> -->
                        <div class="text">When we think of Coimbatore,certain things resonate instantly , 
                            the pleasant climate, sweet siruvani water, courteous people and Ananya's Nana Nani Homes.
                            More than a decade old, Nana Nani Homes has become the most desirable senior citizen community in India..</div>
                    </div>
                </div>

                <!-- Video Column -->
                <div class="video-column col-lg-6 col-md-12
                    col-sm-12">
                    <div class="inner-column">
                        <div class="video-box">
                            <figure class="image">
                                <img src="{% static 'images/main-slider/image-2.jpg'%}"
                                    alt="">
                                <a href="https://www.youtube.com/watch?v=XGC7t9OYp_k"
                                    class="link"
                                    data-fancybox="gallery"
                                    data-caption="">
                                    <span class="icon fa fa-play"></span>
                                </a>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Video Section -->

    <!-- News Section -->
    <section class="news-section">
    <div class="auto-container">
        <div class="sec-title">
            <span class="float-text">Latest</span>
            <h2>Projects</h2>
        </div>
        <div class="row">
            <!-- News Block -->
            <div class="news-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><img
                                src="{% static 'images/resource/news-1.jpg'%}"
                                alt=""></figure>
                        <div class="overlay-box"><a
                                href="#"><i class="fa
                                    fa-link"></i></a></div>
                    </div>
                    <div class="caption-box">
                        <h3><a href="#">In Good
                                Taste: Mark Finlay Architects &
                                Interiors.</a></h3>
                        <ul class="info">
                            <li>06 June 2018,</li>
                            <li>John Smith</li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- News Block -->
            <div class="news-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><img
                                src="{% static 'images/resource/news-2.jpg'%}"
                                alt=""></figure>
                        <div class="overlay-box"><a
                                href="#"><i class="fa
                                    fa-link"></i></a></div>
                    </div>
                    <div class="caption-box">
                        <h3><a href="#">The Lexury
                                Apartment of sepcial interiors.</a></h3>
                        <ul class="info">
                            <li>06 June 2018,</li>
                            <li>John Smith</li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- News Block -->
            <div class="news-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><img
                                src="{% static 'images/resource/news-3.jpg'%}"
                                alt=""></figure>
                        <div class="overlay-box"><a
                                href="#"><i class="fa
                                    fa-link"></i></a></div>
                    </div>
                    <div class="caption-box">
                        <h3><a href="#">The Business
                                metting room interior in the rank.</a></h3>
                        <ul class="info">
                            <li>06 June 2018,</li>
                            <li>John Smith</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End News Section -->

<!-- Testimonial Section Two-->
<section class="testimonial-section-two">
    <div class="auto-container">
        <div class="sec-title">
            <span class="float-text">Testimonial</span>
            <h2>What Clients Says</h2>
        </div>

        <div class="testimonial-carousel-two owl-carousel
            owl-theme">
            <!-- Testimonial block two -->
            <div class="testimonial-block-two">
                <div class="inner-box">
                    <div class="text">I got an excellent design for
                        my future home, from cooperation i was very
                        pleased, everything was done at the highest
                        level.Boldly I recommend to all this
                        company.</div>
                    <div class="info-box">
                        <div class="thumb"><img
                                src="{% static 'images/resource/thumb-2.jpg'%}"
                                alt=""></div>
                        <h5 class="name">Elena Gomes</h5>
                        <span class="date">July 28 - 2018</span>
                    </div>
                </div>
            </div>

            <!-- Testimonial block two -->
            <div class="testimonial-block-two">
                <div class="inner-box">
                    <div class="text">I got an excellent design for
                        my future home, from cooperation i was very
                        pleased, everything was done at the highest
                        level.Boldly I recommend to all this
                        company.</div>
                    <div class="info-box">
                        <div class="thumb"><img
                                src="{% static 'images/resource/thumb-3.jpg'%}"
                                alt=""></div>
                        <h5 class="name">Aliza Norka</h5>
                        <span class="date">July 28 - 2018</span>
                    </div>
                </div>
            </div>

            <!-- Testimonial block two -->
            <div class="testimonial-block-two">
                <div class="inner-box">
                    <div class="text">I got an excellent design for
                        my future home, from cooperation i was very
                        pleased, everything was done at the highest
                        level.Boldly I recommend to all this
                        company.</div>
                    <div class="info-box">
                        <div class="thumb"><img
                                src="{% static 'images/resource/thumb-2.jpg'%}"
                                alt=""></div>
                        <h5 class="name">Elena Gomes</h5>
                        <span class="date">July 28 - 2018</span>
                    </div>
                </div>
            </div>

            <!-- Testimonial block two -->
            <div class="testimonial-block-two">
                <div class="inner-box">
                    <div class="text">I got an excellent design for
                        my future home, from cooperation i was very
                        pleased, everything was done at the highest
                        level.Boldly I recommend to all this
                        company.</div>
                    <div class="info-box">
                        <div class="thumb"><img
                                src="{% static 'images/resource/thumb-3.jpg'%}"
                                alt=""></div>
                        <h5 class="name">Aliza Norka</h5>
                        <span class="date">July 28 - 2018</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Testimonial Section Two-->


<!--Our Company Section-->
<section class="clients-section style-two">
    <div class="auto-container">
        <div class="sec-companies text-center mt-4">
            <span class="About-text">Our Companies</span>
        </div>
        <div class="sponsors-outer">
            <!--Our Companies Carousel-->
            <ul class="sponsors-carousel owl-carousel owl-theme">
                <li class="slide-item"><figure class="image-box"><a
                            href="#"><img src="{% static 'images/clients/1.png'%}"
                                alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a
                            href="#"><img src="{% static 'images/clients/2.png'%}"
                                alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a
                            href="#"><img src="{% static 'images/clients/3.png'%}"
                                alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a
                            href="#"><img src="{% static 'images/clients/4.png'%}"
                                alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a
                            href="#"><img src="{% static 'images/clients/5.png'%}"
                                alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a
                            href="#"><img src="{% static 'images/clients/1.png'%}"
                                alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a
                            href="#"><img src="{% static 'images/clients/2.png'%}"
                                alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a
                            href="#"><img src="{% static 'images/clients/3.png'%}"
                                alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a
                            href="#"><img src="{% static 'images/clients/4.png'%}"
                                alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a
                            href="#"><img src="{% static 'images/clients/5.png'%}"
                                alt=""></a></figure></li>
            </ul>
        </div>
    </div>
</section>
<!--End Clients Section-->




{% endblock %}