{% extends 'main.html' %}
{% load static %}
{% block content %}
<!--Page Title-->
<section class="page-title" style="background-image: url('{%static 'images/main-slider/Father.jpg'%}');">
    <div class="auto-container">
        <div class="inner-container clearfix">
            <div class="title-box">
                <h1>AA Garden</h1>
                <span class="title">Luxury Villa Plots</span>
            </div>
            <ul class="bread-crumb clearfix">
                <li><a href="{% url 'dash_home'%}">Home</a></li>
                <li>Service Detail</li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Title-->



<!--Project Detail Section-->
<section class="project-details-section">
    <div class="project-detail">
        <div class="auto-container">
            <!-- Upper Box -->
            <div class="upper-box">
                <!--Project Tabs-->
                <div class="project-tabs tabs-box clearfix">
                    <!--Tab Btns-->
                    <ul class="tab-btns tab-buttons clearfix">
                        <li data-tab="#tab-1" class="tab-btn active-btn"><img src="{% static 'images\Projects\completed\unknown1\smallthumb.jpg'%}" alt=""></li>
                        <li data-tab="#tab-2" class="tab-btn"><img src="{% static 'images/resource/project-thumb-2.jpg'%}" alt=""></li>
                        <li data-tab="#tab-3" class="tab-btn"><img src="{% static 'images/resource/project-thumb-3.jpg'%}" alt=""></li>
                    </ul>
                    
                    <!--Tabs Container-->
                    <div class="tabs-content">
                        <!--Tab / Active Tab-->
                        <div class="tab active-tab" id="tab-1">
                            <figure class="image"><a href="{% static 'images\Projects\completed\unknown1\img1.jpg'%}" class="lightbox-image" data-fancybox="images"><img src="{% static 'images\Projects\completed\unknown1\img1.jpg'%}" alt=""></a></figure>
                        </div>

                        <!--Tab-->
                        <div class="tab" id="tab-2">
                            <figure class="image"><a href="{% static 'images\Projects\completed\unknown1\img4.jpg'%}" class="lightbox-image" data-fancybox="images"><img src="{% static 'images\Projects\completed\unknown1\img4.jpg'%}" alt=""></a></figure>
                        </div>

                        <!--Tab-->
                        <div class="tab" id="tab-3">
                            <figure class="image"><a href="{% static 'images\Projects\completed\unknown1\img6.jpg'%}" class="lightbox-image" data-fancybox="images"><img src="{% static 'images\Projects\completed\unknown1\img6.jpg'%}" alt=""></a></figure>
                        </div>
                    </div>
                </div>
            </div>
        <!--Lower Content-->
            <div class="lower-content">
                <div class="row clearfix">
                    <!--Content Column-->
                    <div class="content-column col-lg-8 col-md-12 col-sm-12">
                        <div class="inner-column">
                            <h2>Project Descripation</h2>
                            <p>Well we’re movin’ on up to the east side. To a
                                deluxe apartment in the sky. The weather started
                                getting rough – the tiny ship was tossed. If not
                                for the courage of the fearless crew the Minnow
                                would be lost. the Minnow would be lost. We’re
                                gonna do it. On your mark get set and go now.
                                Got a dream and we just know now we’re gonna
                                make our dream come true. I have always wanted
                                to have a neighbor just like you. I’ve always
                                wanted to live in a neighborhood with you.</p>
                            <h3>Ammunities</h3>
                            <div class="row m-3 h6">
                        

                                 <!-- Ammunities -->
                                 <div class="col-xl-4 mb-4 d-flex ">
                                    <img src="https://img.icons8.com/ios-filled/50/000000/street-lamp.png"/>
                                    <span class="mt-3 mx-4">Solar Street Lights</span>
                                </div>
                                
                                 <!-- Ammunities -->
                                 <div class="col-xl-4 mb-4 d-flex">
                                    <img src="https://img.icons8.com/pastel-glyph/50/000000/water-tower.png"/>
                                    <span class="mt-3 mx-4">Over Head Tank</span>
                                </div>
                            
                             
                                 <!-- Ammunities -->
                                 <div class="col-xl-4 mb-4 d-flex">
                                    <img src="https://img.icons8.com/metro/50/000000/plumbing.png"/>
                                    <span class="mt-3 mx-4">Ground Water Provision</span>
                                </div>
                                
                                
                                 <!-- Ammunities -->
                                 <div class="col-xl-4 mb-4 d-flex">
                                    <img src="https://img.icons8.com/external-jumpicon-glyph-ayub-irawan/50/000000/external-drainage-pollution-jumpicon-glyph-jumpicon-glyph-ayub-irawan.png"/>
                                    <span class="mt-3 mx-4">Underground Rainwater Drainage</span>
                                </div>

                                
                                 <!-- Ammunities -->
                                 <div class="col-xl-4 mb-4 d-flex">
                                    <img src="https://img.icons8.com/ios-filled/50/000000/playground.png"/>
                                    <span class="mt-3 mx-4">Kids Play Area</span>
                                </div>
                                
                                 <!-- Ammunities -->
                                 <div class="col-xl-4 mb-4 d-flex">
                                    <img src="https://img.icons8.com/ios-filled/50/000000/walking.png"/>
                                    <span class="mt-3 mx-4">Walking Track</span>
                                </div>

                                
                                 <!-- Ammunities -->
                                 <div class="col-xl-4 mb-4 d-flex">
                                    <img src="https://img.icons8.com/ios-filled/50/000000/security-guard.png"/>
                                    <span class="mt-3 mx-4">24/7 Security</span>
                                </div>

                                
                                 <!-- Ammunities -->
                                 <div class="col-xl-4 mb-4 d-flex">
                                    <img src="https://img.icons8.com/ios-filled/50/000000/road.png"/>
                                    <span class="mt-3 mx-4">Black Top Road</span>
                                </div>

                                
                                 <!-- Ammunities -->
                                 <div class="col-xl-4 mb-4 d-flex">
                                    <img src="https://img.icons8.com/sf-ultralight-filled/50/000000/soil.png"/>
                                    <span class="mt-3 mx-4">Avenue Plantation</span>
                                </div>
                                
                            </div>
                        </div>
                    </div>

                    <!--Info Column-->
                    <div class="info-column col-lg-4 col-md-12 col-sm-12 ">
                        <div class="inner-column wow fadeInRight">
                            <h3>Project Information</h3>
                            <p>These men promptly escaped from a maximum
                                security stockade to the Los Angeles
                                underground. Love exciting and new. Come aboard
                                were expecting you. Love life's sweetest reward
                                Let it flow it floats back to you. Well the
                                first thing you know ol' Jeds a mil lionaire
                                infolk said Jed move away.</p>
                            <ul class="info-list">
                                <li><strong>Client :</strong> Mandola Mogana</li>
                                <li><strong>Location :</strong> London Donec
                                    eleifend 96502</li>
                                <li><strong>Surface Area :</strong> 500,000 m2</li>
                                <li><strong>Year Completed :</strong> 2017</li>
                                <li><strong>Value :</strong> $550.000</li>
                                <li><strong>Architect :</strong> Harri & Gary</li>
                            </ul>


                            <!--Brochure-->
                            <div class="sidebar-widget brochure-widget">
                                <h3 class="sidebar-title">Download Brochures</h3>
                                <div class="brochure-box">
                                    <div class="inner">
                                        <span class="icon fa fa-file-pdf-o"></span>
                                        <div class="text">Ananya_Dhaliyur.pdf</div>
                                    </div>
                                    <a class="overlay-link" href="{% static 'pdf\completed\ananya garden_dhaliyur.pdf'%}" download></a>
                                </div>

                                <div class="brochure-box">
                                    <div class="inner">
                                        <span class="icon fa fa-file-word-o"></span>
                                        <div class="text">Layout Plan.pdf</div>
                                    </div>
                                    <a href="" class="overlay-link"></a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Portfolio Details-->

<!-- Video Section -->
<section class="video-section">
    <div class="outer-boxs" style="background-image: url('{% static 'images/gallery/whous.jpg'%}');">
        <div class="auto-container">
            <div class="row">
                <div class="content-column col-lg-5 col-md-12
                    col-sm-12">
                    <div class="inner-column">
                        <div class="sec-title light">
                            <span class="About-text"></span>
                            <h1>GO EXPLORE</h1>
                        </div>
                        <!-- <span class="title">We Give You The Best</span> -->
                        <div class="text">You have reached that point in life when all thath matters is the happiness of your loved onces.
                            That's why you will go to any length to ensure that and first on your priority list is to build a home that would
                             have everything you could think possiaby think of to keep your family happy.</div>
                    </div>
                </div>

                <!-- Video Column -->
                <div class="video-column col-lg-7 col-md-12
                    col-sm-12">
                    <div class="inner-column">
                        <div class="video-box">
                            <figure class="image">
                                <img src="{% static 'images/main-slider/Arch.jpg'%}"
                                    alt="">
                                <a
                                    href="#"
                                    class="link"
                                    data-fancybox="gallery"
                                    data-caption="">
                                    <span class="icon fa fa-play"></span>
                                </a>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Video Section -->

{% endblock %}
